@using System
@using System.Threading.Tasks
@using App.Support
@using Microsoft.ApplicationInsights.Extensibility
@using Microsoft.AspNet.Hosting
@using Microsoft.AspNet.Mvc.Rendering
@inject IHostingEnvironment HostingEnvironment

<!DOCTYPE html>
<html lang="nl"
      id="app"
      ng-app="main"
      ng-strict-di="true"
      data-is-mobile="@BrowserDetector.IsMobileDevice().ToString().ToLowerInvariant()"
      manifest="/application.appcache"
      ng-controller="MasterController"
      data-app-version="@ViewBag.AppVersion">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FinancialApp</title>

    <base href="/">

    <meta name="msapplication-config" content="/MSTileConfig.xml" />
    <link rel="apple-touch-icon" href="/images/tiles/apple-tile.png" />

    <link href="@UrlGenerator.GenerateUrl("/build/styling.css")" rel="stylesheet" />

    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body ng-class="{ 'anonymous': !isAuthenticated, 'authenticated': isAuthenticated }" fa-scroll-nub>
    @RenderBody()
</body>
</html>
